[Unit]
Description=User service for art blind people program bird model
#Creo que no necesito un service para pulse audio porque dentro del script de python ya lo estoy cerrando y abriendo uno 
#After=my_pulseaudio.service
#Requires=my_pulseaudio.service
After=network-online.target getty@tty1.service
#Wants=network-online.target

[Service]
Type=oneshot
#Environment=DISPLAY=:0
#Restart=always
#RestartSec=1
#User=odroid
ExecStartPre=/bin/bash /home/odroid/art_project_global_V2-comment/dual_bird_MPR121/odroid/50-systemd-user.sh
ExecStart=/usr/bin/python3 /home/odroid/art_project_global_V2-comment/dual_bird_MPR121/odroid/main.py

[Install]
WantedBy=default.target

